extends layout/page-layout

block content
  section.articles
    each article in articles
      article
        h2
          a(href="/article/#{article.slug}") #{article.title}
          small
            if article.author.id
              span &nbsp;by&nbsp;
              b #{article.author.username}
            span &nbsp;#{moment(article.publishAt).fromNow()}
        p #{article.preview}
        hr
  section.pagination.text-center
    if pages > 1
      - var p = 0
      while p < pages - 1
        if p == page
          b #{p + 1}&nbsp;
        else
          a(href="/?page=#{p}") #{p + 1}
          | &nbsp;
        - p += 1