extends layout/page-layout

block content
  ul
    each article in articles
      li
        a(href="/article/#{article.slug}") #{article.title}
        if article.author.id
          span &nbsp;by&nbsp;
          b #{article.author.username}
        span &nbsp;#{article.createdAt}
        hr
    if pages > 1
      - var p = 0
      while p < pages
        if p == page
          b #{p}&nbsp;
        else
          a(href="/?page=#{p}") #{p}
          | &nbsp;
        - p += 1